In [ ]:
CREATE DATABASE demo;

In [ ]:
CERATE DATABASE IF NOT EXISTS demo;

this will show all the databases

In [ ]:
SHOW databases;

In [ ]:
DESCRIBE DATABASE demo;

this shows more information such as the properties

In [ ]:
DESCRIBE DATABASE EXTENDED demo;

In [ ]:
SELECT CURRENT_DATABASE();

this will list all the tables in the current database

In [ ]:
SHOW TABLES;

show all the tables in the DB demo

In [ ]:
SHOW TABLES IN demo;

To switch database

In [ ]:
USE demo;