UPDATE

In [ ]:
%sql
SELECT * FROM f1_demo.results.managed;

In [ ]:
%sql
UPDATE f1_demo.results_managed
    SET points = 11 - position
  WHERE position <= 10

In [ ]:
from delta.tables import DeltaTable

deltaTable = DeltaTable.forPath(spark, "/mnt/formula1dl/demo/results_managed")
deltaTable.update("position <= 10", { "points": "21 - position"})

DELETE

In [ ]:
%sql
DELETE FROM f1_demo.results_managed
WHERE position > 10;

In [ ]:
from delta.tables import DeltaTable
deltaTable = DeltaTable.forPath(spark, "/mnt/formula1dl/demo/results_managed")
deltaTable.delete("points = 0")

In [ ]:
%sql
SELECT * FROM f1_demo.results_managed;